<RadSideDrawer id="sidedrawer" rows="0">

  <DrawerContent>
    <GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
      <StackLayout class="sidedrawer-header">
        <Label class="sidedrawer-header-image fa" text="&#xf2bd;" />
        <Label class="sidedrawer-header-brand" text="User Name" />
        <Label class="footnote" text="username@mail.com" />
      </StackLayout>

      <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
          <GridLayout columns="auto, *"
            class="sidedrawer-list-item {{if (eq router.currentRouteName 'home') 'selected'}}"
            tap={{action transitionTo '/home'}}>
            <Label row="0" col="0" text="&#xf015;" class="fa" />
            <Label row="0" col="1" text="Home" class="p-r-10" />
          </GridLayout>

          <GridLayout columns="auto, *"
            class="sidedrawer-list-item {{if (eq router.currentRouteName 'router') 'selected'}}"
            tap={{action transitionTo '/router'}}>
            <Label row="0" col="0" text="&#xf1ea;" class="fa" />
            <Label row="0" col="1" text="Router" class="p-r-10" />
          </GridLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item">
            <Label row="0" col="0" text="&#xf002;" class="fa" />
            <Label row="0" col="1" text="Search" class="p-r-10" />
          </GridLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item">
            <Label row="0" col="0" text="&#xf005;" class="fa" />
            <Label row="0" col="1" text="Featured" class="p-r-10" />
          </GridLayout>

          <StackLayout class="hr-light"></StackLayout>

          <GridLayout columns="auto, *" class="sidedrawer-list-item">
            <Label row="0" col="0" text="&#xf013;" class="fa" />
            <Label row="0" col="1" text="Settings" class="p-r-10" />
          </GridLayout>
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </DrawerContent>

  <MainContent>
    <Frame>
      <Page class="page" as |page|>
        <ActionBar @page={{page}} class="action-bar">
          <NavigationButton icon="res://menu" tap={{action toggleMenu}}></NavigationButton>
          <StackLayout orientation="horizontal" class="action-bar-logo">
            <Image class="action-bar-icon" src="res://icon" />
            <Label class="action-bar-title" text="nativescript-glimmer"></Label>
          </StackLayout>
        </ActionBar>

        <Frame>
          <Page class="page" actionBarHidden="true" backstackVisible="false"></Page>
        </Frame>

      </Page>
    </Frame>
  </MainContent>

</RadSideDrawer>
